.icons{
     padding-left: 80px !important;
}
.users{
    padding-right: -20px;
}
.container {
    height: 100vh;
    width: 95vw !important;
    max-width: 95vw !important;
    background: rgb(254, 2, 54);
    background: linear-gradient(
      90deg,
      rgba(254, 2, 54, 1) 32%,
      rgba(255, 123, 0, 1) 100%
   );
  }
.head{
    position:relative;
    top: 10;
}